.wrapper{
  .box{

    &.box_1{
      background-image: url("../img/bg_1.png");
      .container{
        .header{
          border-bottom: 1px solid #FFB87E;
          .top_content{
            a{
              span{
                svg{
                  g{
                    fill:"#F3903F";
                  }
                }
              }
            }
          }
        }
        .content{
          .weather_box{
            .circle_about{
              background: linear-gradient(222.59deg, #FFCFB5 15.71%, #FCB983 50.93%, #FF5F43 87.66%);
            }
            .circle{
              background: #FFFFFF;
              box-shadow: 0px 4px 30px #F32D0B;
            }
          }
        }
      }
    }

  }
}



@media (min-width: 768px) {


  .wrapper{
    .box{

      &.box_1{
        background-image: url("../img/bg_1.png");
        .container{
          .header{
            border-bottom: 1px solid #FFB87E;
          }
          .content{
            .weather_box{
              .circle_about{
                background: linear-gradient(222.59deg, #FFCFB5 15.71%, #FCB983 50.93%, #FF5F43 87.66%);
              }
              .circle{
                background: #FFFFFF;
                box-shadow: 0px 4px 30px #F32D0B;
              }
            }
          }
        }
      }

    }
  }
}

