.wrapper{
  .box{
    &.box_4{
      background-image: url("../img/bg_4.png");
      .container{
        .header{
          border-bottom: 1px solid #8DCDEE;;
        }
        .content{
          .weather_box{
            .circle_about{
              background: linear-gradient(222.59deg, rgba(255, 255, 255, 0.8537) 15.71%, #FAF9E8 50.93%, #D0C02E 87.66%);
            }
            .circle{
              background: #FFFFFF;
              box-shadow: 0px 4px 30px #F4E06A;
            }
          }
        }
      }
    }
  }
}



@media (min-width: 768px) {

  .wrapper{
    .box{
      &.box_4{
        background-image: url("../img/bg_4.png");
        .container{
          .header{
            border-bottom: 1px solid #8DCDEE;;
          }
          .content{
            .weather_box{
              .circle_about{
                background: linear-gradient(222.59deg, rgba(255, 255, 255, 0.8537) 15.71%, #FAF9E8 50.93%, #D0C02E 87.66%);
              }
              .circle{
                background: #FFFFFF;
                box-shadow: 0px 4px 30px #F4E06A;
              }
            }
          }
        }
      }

    }
  }
}
